#CadastroVacinaTxt_Linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 90px;
    font-size: 15px;
  
}
#CadastroVacina-titulo {
   color: var(--cor005);
   padding: 10px 0px;
}
#CadastroVacina-linha {
        background-color: var(--cor007);
        display: flex;
        height: 3px;
        width: 570px;
        margin-left: -25px;
        margin-top: 8px;
}

#VacinaIcones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 230px; 
}
#FieldVacina{
    margin: 0px 30px;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 4px  rgb(231, 231, 231);

}
#FieldVirus{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: none;   
    box-shadow: 0px 0px 4px 4px rgb(231, 231, 231);
}
#VacinaIcon-Virus{
    text-align: center;
}
#bloco-imgBezerro-CadastroVacina{
    display: flex;
    justify-content: end;
    margin-top: -16%;
}
#imgBezerro-CadastroVacina{
    width: 200px;
    margin-right: 3%;
    margin-bottom: 2%;
}
#bts-AdcVacina-CancelAdd{
    display: flex;
    justify-content: end;
}