#Block-Txt-Line-HomePrivate{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 90px;
}
#Block-Txt-HomePrivate{
    color: var(--cor005);
    padding: 10px 10px;
    margin-right: 5%;
    width: 25%;
    font-size: 22px;
}
#Block-Line-HomePrivate{
    content: " ";
    background-color: var(--cor007);
    display: flex;
    height: 3px;
    width: 100%;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: -106px;
}
#Block-MyReports{
    display: flex;
    justify-content: center;
    width: 100%;    
}
#Table-MyReports{
    border: 1px solid var(--cor002);
    width: 900px;
    padding: 1.5%;
}
.Table-MyReports-Itens-txt{
    font-size: 18px;
    color: var(--cor005);
}
.Itens-txt-caption{
    font-size: 13px;
    color: var(--cor003);
}
