
:root{
    --cor001:white;
    --cor011:rgba(245, 245, 245, 0.603);
    --cor002:rgb(211, 211, 211);
    --cor003:rgb(131, 131, 131);
    --cor004:rgb(85, 85, 85);
    --cor005:rgb(36, 100, 160);  
    --cor006:rgb(43, 156, 71);
    --cor007:#FAD400;
    --cor009:rgb(189, 55, 37);
    --cor008:rgb(37, 37, 37);
}

#cabecalho{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px var(--cor003);
    color: var(--cor003);
    text-decoration: none;
    
}
#linksCabecalho{
    color: var(--cor003);
    text-transform: capitalize;
}
#linksCabecalho:focus{
   text-decoration: underline 5px var(--cor006);
   color: var(--cor008);
}