#BlocoPerfil{
    width: 1100px;
    height: 542px;
    margin:auto;
    margin-top: 2%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px var(--cor111);
}
#MeuPerfilTxt_Linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 90px;
}
#MeuPerfil-titulo {
   color: var(--cor005);
   margin-right: 230px;
}
#MeuPerfil-linha {
    content: " ";
    background-color: var(--cor007);
    display: flex;
    height: 3px;
    width: 840px;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: -330px;
}
#perfil{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}
#bloPerfil{
    height: 420px;
    width: 450px;
    border: none;
    box-shadow: 0px 1px 5px 0px var(--cor033);
    border-radius: 8px;
    padding: 3%;
    margin-top: 2%;
    background-color: var(--cor001);
    position: relative;
}
#imgPerfil{
    display: flex;
    justify-content: center;
    margin-top: -8%
}
fieldset#img{
    width: 90px;
    height: 95px;
    border-radius: 70px;
    border: 1px solid var(--cor033);
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgUser{
    width: 95px;
    height: 100px;
    border-radius: 70px;

}
#blocoNomePerfil{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
#nomePerfil{
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 17px;
    color: var(--cor004);
}
#menuPerfil{
    margin-left:85%;
    background-color:var(--transparente);
    border: none;
    margin-top: -4%

}
#camposPerfil{
    margin-top: 10%;
    height: 200px;
    line-height: 50px;
    display: block;
    
}
.labelCamposPerfil{
    font-weight: bold;
    color: var(--cor003);
}
.txt-camposPerfil{
    border: none;
    border-bottom: 1px solid var(--cor002);
    color: rgb(155, 155, 155);
    font-size: 16px;
    padding-bottom: 2.5px;
}

#InputEmail{
    padding-right: 34%;
}
#InputCpf{
    padding-right: 38%;
}
#InputTel{
    padding-right: 29%;
}
#InputNameFarm{
    padding-right: 12%;
}
#imgRodape-Perfil{
    margin-top: -15.8%;
    width: 1100px;

}
