*{
    margin: 0%;
    padding: 0%;
}

#table{
    margin: 2% 2% 0% 2%;
    padding: 1%;
    background-color:  rgba(169, 169, 169, 0.11);
    border-style: groove;
    border-radius: 10px;
}

#table h1{
    margin: 1% 0% 1% 2%;
}
#btDelete{
    border-radius: 30px;
    width: 40px;
    margin: auto;
    margin-top: 5%;
}

#btDelete:hover{
    background-color: crimson;
}


#btVoltar{
    border-color: black;
    color: black;
    margin: 0%;
}

#btVoltar:hover{
    background-color:  rgba(169, 169, 169, 0.26); ;
}