#Block-Txt-Line-Form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 90px;
}
#Block-Txt-Form{
    color: var(--cor005);
    padding: 10px 10px;
    margin-right: 5%;
    width: 45%;
    font-size: 22px;
}
#Block-Line-Form{
    background-color: var(--cor007);
    display: flex;
    height: 3px;
    width: 100%;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: -60px;
}
#AnimalRegister-Form{
    margin-top: 0%;
}
#Block-CowImage-Form{
    display: flex;
    justify-content: end;
}
#CowImage-Form{
    width: 350px;
    height: 220px;
    position: relative;
    margin-right:18%;
    margin-top: 4%;
}
#Block-CalfImage-Form{
    display: flex;
    justify-content: end;
}
#CalfImage-Form{
    width: 160px;
    height: 140px;
    position: relative;
    margin-right: -120%;
    margin-top: 30%;
}

