#AnimalRegister-Form{
    margin-top: 0%;
}
#Block-CowImage-Form{
    display: flex;
    justify-content: end;
}
#CowImage-Form{
    width: 350px;
    height: 220px;
    position: relative;
    margin-right:18%;
    margin-top: 4%;
}
#Block-CalfImage-Form{
    display: flex;
    justify-content: end;
}
#CalfImage-Form{
    width: 160px;
    height: 140px;
    position: relative;
    margin-right: -120%;
    margin-top: 30%;
}

